.BellParagraph {
    margin-bottom: 0.4rem;
}

.Bell1, .Bell2, .Bell3 {
    background-color: inherit;
    margin: 0 6px;
    background-color: #1989AC;
    border-radius: 8px;;
    font-size: 2.3rem;
    padding: 4px
}