dialog {
    width: inherit;
    background-color: #198aac68;
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    margin-top: 8px;
    position: relative;
    color: #fffFff;
    text-align: center;
    font-size: 2rem;
  }
  
  .MinutesParagraph {
    color: #fffFff;
    margin-bottom: 8px;
  }
  
  .Ok {
    color: #0084ac;
    background-color: #FFD347;
    width: 5rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .Stepper {
    display: flex;
    justify-content: center;
  }
  
  input[type='number']:disabled {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 32px;
    border: none;
    color: #203020;
    background-color: #FFFFFF;
  }
  
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: none;
  }
  
  .Minus, .Plus {
    border: none;
    color: #1989AC;
    font-size: 32px;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  .Minus {
    border-radius: 36px 0 0 36px;
    padding: 10px 4px 10px 18px;
  }
  
  .Plus {
    border-radius: 0 36px 36px 0;
    padding: 10px 18px 10px 4px;
  }