/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Applied css below */

/* Animation */
@keyframes sizeAnimation {

  from {
    width: 35vw;
  }

  to {
    width: 45vw;
  }


}

/* Styling */
.App {
  background-color: #CEE6EE;
  width: 100vw;
  height: 100vh;
}

dialog {
  /* width: 10vw; */
  height: 10vh;
  width: inherit;
  background-color: #198aac68;
  border: none;
  border-radius: 8px;
  padding: 8px 0 32px 0;
  margin-top: 8px;
  position: relative;
  color: #fffFff;
  text-align: center;
  font-size: 28px;
}

/* TODO: Find good typographyr*/
.MinutesParagraph {
  color: #fffFff;
  margin-bottom: 4px;
}

.Ok {
  position: absolute;
  bottom: 10%;
  right: 38%;
  color: #0084ac;
  background-color: #FFD347;
  width: 48px;
  height: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.MinuteStepper {
  display: flex;
  justify-content: center;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: center;
  font-size: 32px;
  border: none;
  color: #203020;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: none;
}

.Minus, .Plus {
  border: none;
  color: #1989AC;
  font-size: 32px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.Minus {
  border-radius: 36px 0 0 36px;
  padding: 10px 4px 10px 18px;
}

.Plus {
  border-radius: 0 36px 36px 0;
  padding: 10px 18px 10px 4px;
}

/* TODO: Implement mediaqueries for smaller and really big screen sizes*/

@media screen and (max-width: 599px) {
  /* .App-logo {
    top: 16px;
    left: 80px;
    position: absolute;
    width: 200px;
  } */
}

@media screen and (min-width: 600px) and (max-width: 1444px) {
  /* .App-logo {
    top: 32px;
    left: 32px;
    position: absolute;
  } */

  .Navbar {
    display: flex;
    justify-content: space-between;
    top: 32px;
    left: 5%;
    right: 4%;
    position: absolute;
  }

  .Sun-logo {
    width: 35vw;
    animation-name: sizeAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  .Sun {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}


  


