.Sand-button, .Bell-button {
    margin-right: 42px;
}

.Options > * {
    margin-top: 16px;    
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    margin-right: 32px;
}

img {
    margin: auto;
}

.Sand-logo, .Bell-logo, .Cloud-logo {
    width: 36px;
    padding: 0;
}
