/* TOOD: Fix space between the buttons*/
.Options > * {
    margin-top: 16px;    
}

.Sand-logo, .Bell-logo, .Cloud-logo {
    width: 36px;
    padding: 0;
}

.Options {
    width: max-content;
}

.Sand-logo, .Bell-logo {
    margin-right: 32px;
}

.Bell-button, .Cloud-button, .Sand-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

img {
    margin: auto;
}

@media screen and (min-width: 600px) {
    .Container {
        position: absolute;;
        right: 4%;
    }
}
/* 
Hover effect attempt on buttons/doesn't work now
.option:after {
    content: "";
    position: absolute;
    background-color: blueviolet;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.option:hover:after {
    width: 100%;
} */

